@import "./reset.css";

body {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: #242424;
  color: #ddd;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 68px;
  padding: 16px;
}



